body{
    font-family: 'Open Sans', sans-serif;
}
.text-primary {
    color: #E55473;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    padding: 20px 43px;

}
/*header section added*/

header {

    background: rgba(229, 84, 115, 0.10);
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 140px 0px 140px;
    gap: 50px;
}

.banner-title {
    color: #272727;
    font-size: 50px;
    font-weight: 700;

}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}

.btn {
    margin-top: 15px;
}

.profile-pic {
    width: 400px;
}

/*header section end*/

/*feature section added*/
.feature-section {
    max-width: 1140px;
    margin: 0 auto;
    padding: 80px;

}

.feature-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;

}

.feature-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;


}

.feature-content {
    padding: 0px 180px 50px 180px;
}

.feature-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.feature-item-one {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);

}

.feature-item-two {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);



}

.feature-item-three {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);


}

.feature-item-name {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
}

.product-info {
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    padding: 80px;
    justify-content: space-around;
    margin-top: 100px;
    text-align: center;
}

/*feature section end*/
/*extra section added*/
.extra-section {
    max-width: 1140px;
    margin: 0 auto;

}

.delivery-promise {
    background-image: url(../images/gradient1.png), url(../images/watch.png);
    background-repeat: no-repeat;
    padding: 75px 5px;

}

.delivery-promise-title {
    color: #FFF;
    font-size: 40px;
    font-weight: 800;
}

.delivery-promise-description {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;

}

/*extra section end*/
/*offer section added*/
.offer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    gap: 50px;

}

.offer-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;

}

.offer-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}

.offer-content {
    text-align: center;
}



/*offer-section end*/

.social-media-section {
    max-width: 1140px;
    margin: 0 auto;
    padding: 80px;

}

.social-media-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;

}

.social-media-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;


}

.social-media-content {
    padding: 0px 180px 50px 180px;
}

.social-media-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;


}

/*social media section end*/
.order-section {
    max-width: 1140px;
    margin: 0 auto;
    padding: 80px;

}

.order-info {
    background-image: url(../images/Rectangle\ bg.png);
    background-repeat: no-repeat;
    padding: 75px 85px;
    text-align: center;
    border-radius: 5px;
}

.order-title {
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;

}

.order-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;

}

.order-info #email {
    outline: none;
    border: 1px solid #ffffff;
    padding: 20px 180px 20px 20px;
    border-radius: 10px;
    margin: 15px;
}
/*footer section added*/

.footer-section {
    background-color: #111010;
    text-align: center;
    padding: 100px 260px;
}

.footer-section-title {
    color: #FFF;
    font-size: 48px;
    font-weight: 800;

}

.footer-section-description {
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 50px;

}

small {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
}